body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    display: none;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4682B4;
}

.login-container,
.account-container {
    display: none;
}

.login-container.active,
.account-container.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px 150px;
    border-radius: 10px;
    margin-bottom: 38px;
}

input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 1px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-color: #FFD700;
    transition: background-color 0.3s ease;
    color: #000;
    border-radius: 10px;
}

button:active {
    transform: scale(1);
    transition: transform 0.01s ease;
    background-color: #2196F3;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}